CONCRETRE DATA ANALYSIS

In [18]:
# Importing the libraries

import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

%matplotlib inline

# Ignore harmless warnings 

import warnings 
warnings.filterwarnings("ignore")

# Set to display all the columns in dataset

pd.set_option("display.max_columns", None)

# Import psql to run queries 

import pandasql as psql

In [19]:
#load the health insurance datset 

Concrete = pd.read_csv(r"E:\AIML INTERNSHIP\Datasets\Concrete_Data_V1.0.csv", header=0)

#copying into backup files 

concrete_Bk= Concrete.copy()

# Displaying the first 5 rows of the dataset

'''
The head() function can be called on a DataFrame or a Series object, and by default, it returns the first 5 rows. 
You can also pass an optional parameter n to specify the number of rows you want to retrieve.

'''

Concrete.head()

,Cement,Slag,Flyash,Water,SuperPlasticizer,CoarseAggregate,FineAggregate,Age,CSinMPa
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [20]:
#Displaying the dataset information

Concrete.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1030 entries, 0 to 1029
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Cement            1030 non-null   float64
 1   Slag              1030 non-null   float64
 2   Flyash            1030 non-null   float64
 3   Water             1030 non-null   float64
 4   SuperPlasticizer  1030 non-null   float64
 5   CoarseAggregate   1030 non-null   float64
 6   FineAggregate     1030 non-null   float64
 7   Age               1030 non-null   int64
 8   CSinMPa           1030 non-null   float64
dtypes: float64(8), int64(1)
memory usage: 72.6 KB

In [21]:
Concrete.shape

(1030, 9)

In [22]:
#checking the duplicate values present in the dataset

concrete_dup = Concrete[Concrete.duplicated(keep='last')]

concrete_dup

,Cement,Slag,Flyash,Water,SuperPlasticizer,CoarseAggregate,FineAggregate,Age,CSinMPa
72,425.0,106.3,0.0,153.5,16.5,852.1,887.1,3,33.40
77,425.0,106.3,0.0,153.5,16.5,852.1,887.1,3,33.40
83,362.6,189.0,0.0,164.9,11.6,944.7,755.8,3,35.30
86,362.6,189.0,0.0,164.9,11.6,944.7,755.8,3,35.30
88,362.6,189.0,0.0,164.9,11.6,944.7,755.8,3,35.30
95,425.0,106.3,0.0,153.5,16.5,852.1,887.1,7,49.20
100,425.0,106.3,0.0,153.5,16.5,852.1,887.1,7,49.20
106,362.6,189.0,0.0,164.9,11.6,944.7,755.8,7,55.90
109,362.6,189.0,0.0,164.9,11.6,944.7,755.8,7,55.90
118,425.0,106.3,0.0,153.5,16.5,852.1,887.1,28,60.29
123,425.0,106.3,0.0,153.5,16.5,852.1,887.1,28,60.29
129,362.6,189.0,0.0,164.9,11.6,944.7,755.8,28,71.30
132,362.6,189.0,0.0,164.9,11.6,944.7,755.8,28,71.30
134,362.6,189.0,0.0,164.9,11.6,944.7,755.8,28,71.30
141,425.0,106.3,0.0,153.5,16.5,852.1,887.1,56,64.30
146,425.0,106.3,0.0,153.5,16.5,852.1,887.1,56,64.30
152,362.6,189.0,0.0,164.9,11.6,944.7,755.8,56,77.30
155,362.6,189.0,0.0,164.9,11.6,944.7,755.8,56,77.30
157,362.6,189.0,0.0,164.9,11.6,944.7,755.8,56,77.30
164,425.0,106.3,0.0,153.5,16.5,852.1,887.1,91,65.20
169,425.0,106.3,0.0,153.5,16.5,852.1,887.1,91,65.20
175,362.6,189.0,0.0,164.9,11.6,944.7,755.8,91,79.30
177,362.6,189.0,0.0,164.9,11.6,944.7,755.8,91,79.30
179,362.6,189.0,0.0,164.9,11.6,944.7,755.8,91,79.30
801,252.0,0.0,0.0,185.0,0.0,1111.0,784.0,28,19.69

In [23]:
#delete the duplicate values

Concrete = Concrete.drop_duplicates(keep='last')

Concrete.shape

(1005, 9)

In [24]:
#Re-setting the row index 

Concrete = Concrete.reset_index(drop=True)

Concrete_ck = Concrete.copy()

In [25]:
#idenifying the missing values

Concrete.isnull().sum()

Cement              0
Slag                0
Flyash              0
Water               0
SuperPlasticizer    0
CoarseAggregate     0
FineAggregate       0
Age                 0
CSinMPa             0
dtype: int64

In [26]:
#displaying the first five rows of the dataset

Concrete.head()

,Cement,Slag,Flyash,Water,SuperPlasticizer,CoarseAggregate,FineAggregate,Age,CSinMPa
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [27]:
#identifying the independent and target (dependent) variables

indepVar = []
 
for col in Concrete.columns:
    if col != 'CSinMPa':
        indepVar.append(col)


TargetVar = 'CSinMPa'

x = Concrete[indepVar]
y = Concrete[TargetVar]

In [28]:
#split the data into train and test (random sampling  of 70:30)

from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.30, random_state=42)

#displaying the shape of the train and test data

x_train.shape, x_test.shape, y_train.shape, y_test.shape

((703, 8), (302, 8), (703,), (302,))

In [29]:
# Scaling the features by using MinMaxScaler

from sklearn.preprocessing import MinMaxScaler

mmscaler = MinMaxScaler(feature_range=(0, 1))

x_train = mmscaler.fit_transform(x_train)


x_train = pd.DataFrame(x_train)
x_test = mmscaler.transform(x_test)

x_test = pd.DataFrame(x_test)

REGRESSION ALGORITHM

In [30]:
#Train the algorithm and build the the model with train dataset
from sklearn.linear_model import LinearRegression
#create an object for regression model
ModelRGR = LinearRegression()
#Train the model with training dataset
ModelRGR.fit(x_train,y_train)
#predict the model with test dataset
y_pred = ModelRGR.predict(x_test)

In [31]:
# Evaluation metrics for Regression model
from sklearn import metrics
print('Mean Absolute Error(MAE):',round(metrics.mean_absolute_error(y_test,y_pred),3))
print('Mean Squared Error(MSE):',round(metrics.mean_squared_error(y_test,y_pred),3))
print('Root Mean Squared Error(RMSE):',round(np.sqrt(metrics.mean_absolute_error(y_test,y_pred)),3))
print('R2_score:',round(metrics.r2_score(y_test,y_pred),6))
print('Mean Absolute Percentage Error(MAPE):',round(metrics.mean_absolute_percentage_error(y_test,y_pred)*100,3),'%')
print('Root Mean Squared Log Error(RMSLE):',round(np.log(np.sqrt(metrics.mean_absolute_error(y_test,y_pred))),3))

Mean Absolute Error(MAE): 8.952
Mean Squared Error(MSE): 125.128
Root Mean Squared Error(RMSE): 2.992
R2_score: 0.568589
Mean Absolute Percentage Error(MAPE): 33.976 %
Root Mean Squared Log Error(RMSLE): 1.096

In [32]:
# Define the function to calculate the MAPE - Mean Absolute Percentage Error

def MAPE (y_test, y_pred): 
    y_test, y_pred = np.array(y_test), np.array(y_pred)
    return np.mean(np.abs((y_test - y_pred) / y_test)) * 100

# Evaluation of MAPE 

result = MAPE(y_test, y_pred)
print('Mean Absolute Percentage Error (MAPE):', round(result, 3), '%')

Mean Absolute Percentage Error (MAPE): 33.976 %

In [33]:
# Calculate Adjusted R squared values
r_squared = round(metrics.r2_score(y_test,y_pred),6)
adjusted_r_squared = round(1-(1-r_squared)*(len(y)-1)/(len(y)-x.shape[1]-1),6)
print('ADJ R Square:',adjusted_r_squared)

ADJ R Square: 0.565124

In [34]:
#Display the final results
Results=pd.DataFrame({'CSinMPa_A':y_test,'CSinMPa_P':y_pred})
#Merge two Dataframes on index Of both dataframes
ResultsFinal=Concrete_ck.merge(Results, left_index=True ,right_index=True)

#calculating the error percentage

ResultsFinal['Error%'] = np.abs((ResultsFinal['CSinMPa_A'] - ResultsFinal['CSinMPa_P'])/ResultsFinal['CSinMPa_A'])*100

#Display 10 records randomly
ResultsFinal.sample(5)

,Cement,Slag,Flyash,Water,SuperPlasticizer,CoarseAggregate,FineAggregate,Age,CSinMPa,CSinMPa_A,CSinMPa_P,Error%
109,425.0,106.3,0.0,151.4,18.6,936.0,803.7,28,61.80,61.80,56.841744,8.023068
940,330.5,169.6,0.0,194.9,8.1,811.0,802.3,28,56.62,56.62,41.529592,26.652081
362,528.0,0.0,0.0,185.0,6.9,920.0,720.0,28,56.83,56.83,48.325841,14.964207
541,295.8,0.0,0.0,185.7,0.0,1091.4,769.3,7,14.84,14.84,19.893009,34.049923
198,166.1,0.0,163.3,176.5,4.5,1058.6,780.1,56,28.63,28.63,26.930598,5.935739