2021 FUEL CONSUMPTION

In [1]:
# Importing the libraries

import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

%matplotlib inline

# Ignore harmless warnings 

import warnings 
warnings.filterwarnings("ignore")

# Set to display all the columns in dataset

pd.set_option("display.max_columns", None)

# Import psql to run queries 

import pandasql as psql

In [2]:
#load the dataset

df = pd.read_csv(r"/home/kevinmithnick/Documents/AIMLInternship/Datasets/MY2021_Fuel_Consumption_Ratings.csv")

df_dk = df.copy()

# Display the first 5 rows of the dataset

df.head()

,Year,Make,Model,Vehicle_Class,Engine_Size,Cylinders,Transmission,Fuel_Type,Fuel_Consumption_city,Fuel_Consumption_Hwy,Fuel_Consumption_Comb,Fuel_Consumption_Comb_MPG,CO2_Emissions,CO2_Rating,Smog_Rating
0,2021,Acura,ILX,Compact,2.4,4,AM8,Z,9.9,7.0,8.6,33,199,6,3
1,2021,Acura,NSX,Two-seater,3.5,6,AM9,Z,11.1,10.8,11.0,26,256,4,3
2,2021,Acura,RDX SH-AWD,SUV: Small,2.0,4,AS10,Z,11.0,8.6,9.9,29,232,5,6
3,2021,Acura,RDX SH-AWD A-SPEC,SUV: Small,2.0,4,AS10,Z,11.3,9.1,10.3,27,242,5,6
4,2021,Acura,TLX SH-AWD,Compact,2.0,4,AS10,Z,11.2,8.0,9.8,29,230,5,7

In [21]:
df_dk = df.copy()

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 883 entries, 0 to 882
Data columns (total 15 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Year                       883 non-null    int64
 1   Make                       883 non-null    object
 2   Model                      883 non-null    object
 3   Vehicle_Class              883 non-null    object
 4   Engine_Size                883 non-null    float64
 5   Cylinders                  883 non-null    int64
 6   Transmission               883 non-null    object
 7   Fuel_Type                  883 non-null    object
 8   Fuel_Consumption_city      883 non-null    float64
 9   Fuel_Consumption_Hwy       883 non-null    float64
 10  Fuel_Consumption_Comb      883 non-null    float64
 11  Fuel_Consumption_Comb_MPG  883 non-null    int64
 12  CO2_Emissions              883 non-null    int64
 13  CO2_Rating                 883 non-null    int64
 14  Smog_Rating                883 non-null    int64
dtypes: float64(4), int64(6), object(5)
memory usage: 103.6+ KB

In [4]:
df.shape

(883, 15)

In [5]:
df_dup = df[df.duplicated(keep='last')]

df_dup

Empty DataFrame
Columns: [Year, Make, Model, Vehicle_Class, Engine_Size, Cylinders, Transmission, Fuel_Type, Fuel_Consumption_city, Fuel_Consumption_Hwy, Fuel_Consumption_Comb, Fuel_Consumption_Comb_MPG, CO2_Emissions, CO2_Rating, Smog_Rating]
Index: []

In [6]:
df.isnull().sum()

Year                         0
Make                         0
Model                        0
Vehicle_Class                0
Engine_Size                  0
Cylinders                    0
Transmission                 0
Fuel_Type                    0
Fuel_Consumption_city        0
Fuel_Consumption_Hwy         0
Fuel_Consumption_Comb        0
Fuel_Consumption_Comb_MPG    0
CO2_Emissions                0
CO2_Rating                   0
Smog_Rating                  0
dtype: int64

In [8]:
df = df.drop(['Year','Make','Model',"Vehicle_Class","Transmission","Fuel_Type","CO2_Rating","Smog_Rating"],axis=1)

df.head()

,Engine_Size,Cylinders,Fuel_Consumption_city,Fuel_Consumption_Hwy,Fuel_Consumption_Comb,Fuel_Consumption_Comb_MPG,CO2_Emissions
0,2.4,4,9.9,7.0,8.6,33,199
1,3.5,6,11.1,10.8,11.0,26,256
2,2.0,4,11.0,8.6,9.9,29,232
3,2.0,4,11.3,9.1,10.3,27,242
4,2.0,4,11.2,8.0,9.8,29,230

In [11]:
#identifying the independent and target (dependent) variables

indepVar = []
 
for col in df.columns:
    if col != 'CO2_Emissions':
        indepVar.append(col)


TargetVar = 'CO2_Emissions'

x = df[indepVar]
y = df[TargetVar]

In [12]:
#split the data into train and test (random sampling  of 70:30)

from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.30, random_state=42)

#displaying the shape of the train and test data

x_train.shape, x_test.shape, y_train.shape, y_test.shape

((618, 6), (265, 6), (618,), (265,))

In [13]:
# Scaling the features by using MinMaxScaler

from sklearn.preprocessing import MinMaxScaler

mmscaler = MinMaxScaler(feature_range=(0, 1))

x_train = mmscaler.fit_transform(x_train)


x_train = pd.DataFrame(x_train)
x_test = mmscaler.transform(x_test)

x_test = pd.DataFrame(x_test)

REGRESSION ALGORITHM

In [14]:
#Train the algorithm and build the the model with train dataset
from sklearn.linear_model import LinearRegression
#create an object for regression model
ModelRGR = LinearRegression()
#Train the model with training dataset
ModelRGR.fit(x_train,y_train)
#predict the model with test dataset
y_pred = ModelRGR.predict(x_test)

In [15]:
# Evaluation metrics for Regression model
from sklearn import metrics
print('Mean Absolute Error(MAE):',round(metrics.mean_absolute_error(y_test,y_pred),3))
print('Mean Squared Error(MSE):',round(metrics.mean_squared_error(y_test,y_pred),3))
print('Root Mean Squared Error(RMSE):',round(np.sqrt(metrics.mean_absolute_error(y_test,y_pred)),3))
print('R2_score:',round(metrics.r2_score(y_test,y_pred),6))
print('Mean Absolute Percentage Error(MAPE):',round(metrics.mean_absolute_percentage_error(y_test,y_pred)*100,3),'%')
print('Root Mean Squared Log Error(RMSLE):',round(np.log(np.sqrt(metrics.mean_absolute_error(y_test,y_pred))),3))

Mean Absolute Error(MAE): 6.589
Mean Squared Error(MSE): 255.165
Root Mean Squared Error(RMSE): 2.567
R2_score: 0.926954
Mean Absolute Percentage Error(MAPE): 2.467 %
Root Mean Squared Log Error(RMSLE): 0.943

In [16]:
# Define the function to calculate the MAPE - Mean Absolute Percentage Error

def MAPE (y_test, y_pred): 
    y_test, y_pred = np.array(y_test), np.array(y_pred)
    return np.mean(np.abs((y_test - y_pred) / y_test)) * 100

# Evaluation of MAPE 

result = MAPE(y_test, y_pred)
print('Mean Absolute Percentage Error (MAPE):', round(result, 3), '%')

Mean Absolute Percentage Error (MAPE): 2.467 %

In [17]:
# Calculate Adjusted R squared values
r_squared = round(metrics.r2_score(y_test,y_pred),6)
adjusted_r_squared = round(1-(1-r_squared)*(len(y)-1)/(len(y)-x.shape[1]-1),6)
print('ADJ R Square:',adjusted_r_squared)

ADJ R Square: 0.926454

In [23]:
# display the final results

Results=pd.DataFrame({'CO2_Emissions_A':y_test,'CO2_Emissions_P':y_pred})

# merge two dataframes on index of both the dataframes

ResultsFinal=df_dk.merge(Results,left_index=True,right_index=True)

# Calculate the %of Error

ResultsFinal['%Error'] = round(((ResultsFinal['CO2_Emissions_A']-ResultsFinal['CO2_Emissions_P'])/ResultsFinal['CO2_Emissions_A'])*100,3)

# display 10 records randomly

ResultsFinal.sample(10)

,Engine_Size,Cylinders,Fuel_Consumption_city,Fuel_Consumption_Hwy,Fuel_Consumption_Comb,Fuel_Consumption_Comb_MPG,CO2_Emissions,CO2_Emissions_A,CO2_Emissions_P,%Error
779,6.7,12,20.1,12.1,16.5,17,386,386,388.957240,-0.766
529,5.0,8,14.4,9.6,12.2,23,285,285,291.397700,-2.245
70,2.0,4,11.2,7.7,9.6,29,225,225,224.386740,0.273
351,5.3,8,16.0,10.9,13.7,21,321,321,320.968487,0.010
2,2.0,4,11.0,8.6,9.9,29,232,232,229.419051,1.112
576,2.5,4,9.2,6.9,8.1,35,190,190,190.997059,-0.525
370,1.5,4,9.2,7.8,8.6,33,201,201,203.277102,-1.133
333,3.6,6,12.2,8.8,10.7,26,250,250,256.050491,-2.420
826,2.0,4,8.4,6.6,7.5,38,178,178,176.104840,1.065
204,5.3,8,14.3,10.7,12.7,22,298,298,302.764606,-1.599